extends layout.pug
block content
           div(class="card" style="width: 18rem;")
            img(src="..." class="card-img-top" alt="...")
            .card-body
              h3.card-text= text
              if hint
               p
                i Hint: #{hint}
            .row
              div(class= "col-sm ml-3")   
                a(href=`/cards/${id}?side=${sideToShow}`) #{otherSide}       
              div(class='col-sm ml-3')
                form(action='/cards', method='use')
                  button(class='btn btn-primary btn-sm mb-2' type='submit') Random    